.a4-invoice-loader {
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fafafa;
  border-radius: 8px;
  border: 1px dashed #d9d9d9;
  color: #595959;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.3px;
}

.printable.invoice-page-a4 {
  background: white;
  margin: 0 auto;
  padding: 12px;
  border: 1px solid #3f3f3f;
}

.a4-invoice-btn {
  background-color: #1c558b;
  border-radius: 3px;
  border: 2px solid black;
  color: #111;
  font-weight: 500;
  font-size: 18px;
  padding: 8px 20px;
  cursor: pointer;
}

.a4-invoice-img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 4px;
}
