.category-section-form-wrapper {
  position: relative;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}

.category-section-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 16px;
  align-items: center;
}

/* Make the button section span last columns */
.category-section-buttons {
  display: flex;
  gap: 8px;
}

.show-section-form {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.show-section-form-wrapper {
  width: 400px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 4px;
  border-top: 4px solid green;
}

/* Adjust for tablet */
@media (max-width: 992px) {
  .category-section-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Adjust for mobile */
@media (max-width: 576px) {
  .category-section-grid {
    grid-template-columns: 1fr;
  }

  .category-section-buttons {
    flex-direction: column;
    align-items: stretch;
  }
}
