.search-product-section {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.product-card {
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 10px;
  background: #fff;
  width: 50%;
}

.product-card-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #88888878;
  padding: 5px;
}

.camp-product-image {
  width: 25%;
  height: 130px;
  object-fit: cover;
  margin-bottom: 12px;
  border-radius: 10px;
  background-color: #f5f7fa;
}

.product-name {
  flex: 1;
  margin: 0 10px;
  font-size: 16px;
  color: #000;
}

.delete-btn {
  background: #ff4d4f;
  border: none;
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.delete-btn:hover {
  background: #ff7875;
}

.product-card-bottom {
  display: flex;
  gap: 20px;
  margin-top: 10px;
}

.input-group {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.input-group label {
  font-size: 14px;
  margin-bottom: 4px;
  color: #333;
}

.input-group input,
.input-group select {
  padding: 6px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: cornflowerblue;
}

.left-side-product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  cursor: pointer;
}

.campaign-label {
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
  color: #000;
}

.campaign-input {
  width: 100%;
  padding: 5px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.campaingn-ul {
  list-style: none;
  margin: 0;
  padding: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  position: absolute;
  width: 100%;
  background: #fff;
  z-index: 1000;
  max-height: 300px;
  overflow-y: auto;
  color: #000;
  background-color: #888;
}

.campaign-ul-li {
  display: flex;
  gap: 10px;
  padding: 5px 10px;
  cursor: pointer;
  color: #fff;
  background-color: #162057;
  margin: 10px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.campaign-ul-li:hover {
  background-color: #25317a;
}

.campaign-product-img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin-top: 10px;
}

.campaing-form-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.search-product-item {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid #ddd;
}

.search-product-item.selected {
  background: #e9f8ff;
  border-color: #1890ff;
}

.check-mark {
  color: #1890ff;
  font-weight: bold;
}
