.section-banner-form {
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 5px 15px;
  background: #fff;
  border-radius: 4px;
}
